snippet cm "Comment Section"
/* ${0} */
endsnippet


snippet start "Start_programming" 
#include <iostream>
#include <cstdio>
#include <cmath>
#include <algorithm>
using i64 = long long;
using namespace std;
int main()
{
	${0}
}
endsnippet


